<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>Welcome to my site!, <%= @user.username %></h1>
        <p>
            You have been signed up successfully, dude!
            Your username is: <%= @user.username %> <br />
        </p>
        
    </body>
</html>







